In [1]:
import pandas as pd
from pymongo import MongoClient
import pprint
import re
import numpy as np

client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [2]:
companies = db.companies.find({
    "offices":{
        "$not":{
            "$size":0
        }
    }
}
,{"name":1, "founded_year":1, "offices":1, "category_code":1, "total_money_raised":1, "deadpooled_year":1})

#Filtro por estos porque quiero los que tengan más de 10 años, la categoria para saber si son tech o design, 
#el money raised y las oficinas

In [3]:
#{$and:[{number_of_employees:{$gt: 100 }},{founded_year:{$lte: 2005 }}

In [4]:
data_companies = pd.DataFrame(companies)
display(data_companies)

,_id,category_code,deadpooled_year,founded_year,name,offices,total_money_raised
0,52cdef7c4bab8bd675297d8b,enterprise,2.0,1996.0,AdventNet,"[{'description': 'Headquarters', 'address1': '...",$0
1,52cdef7c4bab8bd675297d8c,software,3.0,2005.0,Zoho,"[{'description': 'Headquarters', 'address1': '...",$0
2,52cdef7c4bab8bd675297d8a,web,1.0,2005.0,Wetpaint,"[{'description': '', 'address1': '710 - 2nd Av...",$39.8M
3,52cdef7c4bab8bd675297d8d,news,NaN,2004.0,Digg,"[{'description': None, 'address1': '135 Missis...",$45M
4,52cdef7c4bab8bd675297d8f,network_hosting,2008.0,2005.0,Omnidrive,"[{'description': '', 'address1': 'Suite 200', ...",$800k
5,52cdef7c4bab8bd675297d90,web,NaN,1999.0,Postini,"[{'description': None, 'address1': '959 Skyway...",$0
6,52cdef7c4bab8bd675297d92,games_video,NaN,NaN,Flektor,"[{'description': None, 'address1': '8536 Natio...",$0
7,52cdef7c4bab8bd675297d91,web,NaN,2006.0,Geni,"[{'description': 'Headquarters', 'address1': '...",$16.5M
8,52cdef7c4bab8bd675297d93,web,NaN,1979.0,Fox Interactive Media,"[{'description': '', 'address1': '407 N Maple ...",$0
9,52cdef7c4bab8bd675297d96,web,NaN,2003.0,Gizmoz,"[{'description': None, 'address1': None, 'addr...",$18.1M
10,52cdef7c4bab8bd675297d9a,mobile,NaN,2005.0,Helio,"[{'description': None, 'address1': '10960 Wils...",$0
11,52cdef7c4bab8bd675297d95,web,NaN,2002.0,StumbleUpon,"[{'description': '', 'address1': '', 'address2...",$18.5M
12,52cdef7c4bab8bd675297d98,music,NaN,2006.0,Slacker,"[{'description': '', 'address1': '16935 W. Ber...",$73.1M
13,52cdef7c4bab8bd675297d99,games_video,NaN,NaN,Lala,"[{'description': 'Lala Headquarters', 'address...",$44.2M
14,52cdef7c4bab8bd675297d97,news,NaN,2007.0,Scribd,"[{'description': 'HQ', 'address1': '539 Bryant...",$25.8M
15,52cdef7c4bab8bd675297d9c,social,NaN,2007.0,MeetMoi,"[{'description': None, 'address1': '', 'addres...",$5.58M
16,52cdef7c4bab8bd675297d9d,games_video,NaN,2006.0,Joost,"[{'description': '', 'address1': '100 5th Ave ...",$45M
17,52cdef7c4bab8bd675297da0,games_video,2013.0,2007.0,Babelgum,"[{'description': '', 'address1': '', 'address2...",$13.2M
18,52cdef7c4bab8bd675297d9e,news,NaN,1986.0,CBS,"[{'description': None, 'address1': '', 'addres...",$0
19,52cdef7c4bab8bd675297da1,web,NaN,2002.0,Plaxo,"[{'description': 'HQ', 'address1': '1050 Enter...",$28.3M
20,52cdef7c4bab8bd675297d9f,web,NaN,1971.0,Viacom,"[{'description': 'HQ', 'address1': '1515 Broad...",$0
21,52cdef7c4bab8bd675297d94,social,NaN,2006.0,Twitter,"[{'description': '', 'address1': '1355 Market ...",$1.16B
22,52cdef7c4bab8bd675297d8e,social,NaN,2004.0,Facebook,"[{'description': 'Headquarters', 'address1': '...",$2.43B
23,52cdef7c4bab8bd675297d9b,web,NaN,1995.0,eBay,"[{'description': 'Headquarters', 'address1': '...",$6.7M
24,52cdef7c4bab8bd675297da4,search,NaN,2006.0,Powerset,"[{'description': None, 'address1': '475 Branna...",$22.5M
25,52cdef7c4bab8bd675297da5,advertising,NaN,2002.0,Technorati,"[{'description': '', 'address1': '360 Post St....",$32.1M
26,52cdef7c4bab8bd675297da6,messaging,NaN,NaN,SpinVox,"[{'description': 'Corporate Headquarters', 'ad...",$106M
27,52cdef7c4bab8bd675297daa,games_video,2008.0,2007.0,Sparter,"[{'description': None, 'address1': None, 'addr...",$0
28,52cdef7c4bab8bd675297da9,web,NaN,2007.0,Mahalo,"[{'description': '', 'address1': '3525 Eastham...",$21M
29,52cdef7c4bab8bd675297dab,games_video,NaN,2006.0,Kyte,"[{'description': None, 'address1': '442 Post S...",$23.4M
...,...,...,...,...,...,...,...
13714,52cdef7f4bab8bd67529c6d5,public_relations,NaN,2009.0,SEO Sumo,"[{'description': 'Main Office', 'address1': '6...",$0
13715,52cdef7f4bab8bd67529c6d6,advertising,NaN,2009.0,InstantQ,"[{'description': '', 'address1': '', 'address2...",$0
13716,52cdef7f4bab8bd67529c6d8,enterprise,NaN,2004.0,NextLabs,"[{'description': 'Corporate Headquarters', 'ad...",$0
13717,52cdef7f4bab8bd67529c6d9,web,NaN,2008.0,iGuiders,"[{'description': '', 'address1': '23811 Chagri...",$1.17M
13718,52cdef7f4bab8bd67529c6d4,education,NaN,2011.0,Treehouse,"[{'description': '', 'address1': '', 'address2...",$19.4M
13719,52cdef7f4bab8bd67529c6db,web,NaN,NaN,Optemo,"[{'description': '', 'address1': '246 - 970 Bu...",$0
13720,52cdef7f4bab8bd67529c6da,biotech,NaN,NaN,Xray Imatek,"[{'description': 'Office', 'address1': 'Edific...",€300k
13721,52cdef7f4bab8bd67529c6de,None,NaN,2006.0,Cantimer,"[{'description': '', 'address1': '3700 Haven C...",$2M
13722,52cdef7f4bab8bd67529c6dc,mobile,NaN,2009.0,acrossair,"[{'description': '198 High Holborn', 'address1...",$0
13723,52cdef7f4bab8bd67529c6df,cleantech,NaN,NaN,SolarPower Israel,"[{'description': '', 'address1': 'Yevulim Comp...",$1.1M
13724,52cdef7f4bab8bd67529c6dd,medical,NaN,2001.0,Cameron Health,"[{'description': 'Corporate Office', 'address1...",$121M
13725,52cdef7f4bab8bd67529c6e0,semiconductor,NaN,2004.0,Celestial Semiconductor,"[{'description': '', 'address1': '2635 North 1...",$2M
13726,52cdef7f4bab8bd67529c6e2,consulting,NaN,2009.0,MyChances,"[{'description': 'Headquarters', 'address1': '...",$0
13727,52cdef7f4bab8bd67529c6e1,cleantech,NaN,1996.0,Purfresh,"[{'description': 'HQ', 'address1': '1350 Willo...",$62.7M
13728,52cdef7f4bab8bd67529c6e3,biotech,NaN,NaN,InSound Medical,"[{'description': '', 'address1': '39660 Eureka...",$11M
13729,52cdef7f4bab8bd67529c6e4,mobile,NaN,2009.0,Getyoo,"[{'description': 'HQ', 'address1': 'Rue des Ta...",€1.13M
13730,52cdef7f4bab8bd67529c6ea,web,NaN,2006.0,Eazeeloans,"[{'description': 'Apex Finance & Marketing', '...",$0
13731,52cdef7f4bab8bd67529c6ee,software,NaN,2000.0,EnterSys Group,"[{'description': '', 'address1': '13280 NW Fre...",$0
13732,52cdef7f4bab8bd67529c6eb,web,NaN,2012.0,DocASAP,"[{'description': '', 'address1': '115 5th Ave'...",$800k
13733,52cdef7f4bab8bd67529c6ef,software,NaN,2004.0,Axon Solutions,"[{'description': '', 'address1': '15 Exchange ...",$0
13734,52cdef7f4bab8bd67529c6f0,software,NaN,2003.0,Intergy,"[{'description': '', 'address1': '11875 Dublin...",$0
13735,52cdef7f4bab8bd67529c6e6,music,2009.0,2009.0,OfficialVirtualDJ,"[{'description': 'Created in London', 'address...",€25M
13736,52cdef7f4bab8bd67529c6f2,software,NaN,1974.0,Contemporary Computer Services,"[{'description': '', 'address1': '200 Knickerb...",$0
13737,52cdef7f4bab8bd67529c6f3,software,NaN,1967.0,QSGI,"[{'description': '', 'address1': '400 Royal Pa...",$0
13738,52cdef7f4bab8bd67529c6f1,other,NaN,NaN,Willdan Group,"[{'description': '', 'address1': '2401 East Ka...",$0
13739,52cdef7f4bab8bd67529c6f7,software,NaN,2002.0,AfterLogic,"[{'description': 'Livingston', 'address1': 'P....",$0
13740,52cdef7f4bab8bd67529c6f5,software,NaN,2009.0,Oriact,"[{'description': '', 'address1': 'LÃ¤rchenweg ...",$0
13741,52cdef7f4bab8bd67529c6f6,advertising,NaN,2009.0,Adhunk,"[{'description': 'Indian Office', 'address1': ...",$0
13742,52cdef7f4bab8bd67529c6f9,software,NaN,NaN,EnteGreat Solutions,"[{'description': '', 'address1': '', 'address2...",$0
13743,52cdef7f4bab8bd67529c6fa,enterprise,NaN,2000.0,EnteGreat,"[{'description': '', 'address1': '1900 Interna...",$0

In [5]:
data_companies['category_code'].value_counts()

web                 2812
software            2387
games_video          839
mobile               821
advertising          794
other                730
enterprise           654
consulting           540
ecommerce            534
network_hosting      510
public_relations     429
hardware             345
biotech              338
search               287
cleantech            273
semiconductor        150
security             147
analytics             65
finance               49
social                46
news                  45
education             32
music                 32
messaging             30
travel                25
medical               25
health                23
photo_video           21
legal                 21
manufacturing         19
sports                12
fashion               10
automotive             9
real_estate            9
hospitality            8
transportation         7
nanotech               5
design                 4
nonprofit              3
government             1
local                  1
Name: category_code, dtype: int64

In [6]:
#list_category = ['web', 'software', 'games_video', 'advertising', , 'ecommerce', 'search', 'network_hosting'
                #,'consulting','hardware', 'biotech', 'cleantech', 'analytics','hardware', 'photo_video', 'messaging', 'design']

In [7]:
#data_companies = data_companies[data_companies['category_code'].isin(list_category)]

In [8]:
list_category = {'web': 'tech', 'software': 'tech', 
                 'games_video':'tech', 'advertising':'tech', 'mobile':'tech', 'ecommerce':'tech', 'search':'tech', 'network_hosting':'tech'
                ,'consulting':'tech','hardware':'tech', 'biotech':'tech', 'cleantech':'tech', 'analytics':'tech','hardware':'tech', 'photo_video':'tech',
                'messaging':'tech', 'design':'tech'}

In [9]:
data_companies = data_companies.replace(to_replace=list_category, inplace=False)

In [10]:
data_companies.head()

,_id,category_code,deadpooled_year,founded_year,name,offices,total_money_raised
0,52cdef7c4bab8bd675297d8b,enterprise,2.0,1996.0,AdventNet,"[{'description': 'Headquarters', 'address1': '...",$0
1,52cdef7c4bab8bd675297d8c,tech,3.0,2005.0,Zoho,"[{'description': 'Headquarters', 'address1': '...",$0
2,52cdef7c4bab8bd675297d8a,tech,1.0,2005.0,Wetpaint,"[{'description': '', 'address1': '710 - 2nd Av...",$39.8M
3,52cdef7c4bab8bd675297d8d,news,NaN,2004.0,Digg,"[{'description': None, 'address1': '135 Missis...",$45M
4,52cdef7c4bab8bd675297d8f,tech,2008.0,2005.0,Omnidrive,"[{'description': '', 'address1': 'Suite 200', ...",$800k

In [11]:
data_companies['founded_year'] = data_companies['founded_year'].dropna(axis=0).astype('int64', inplace=True)

In [12]:
data_companies['offices'][0]

[{'description': 'Headquarters',
  'address1': '4900 Hopyard Rd.',
  'address2': 'Suite 310',
  'zip_code': '94588',
  'city': 'Pleasanton',
  'state_code': 'CA',
  'country_code': 'USA',
  'latitude': 37.692934,
  'longitude': -121.904945}]

In [13]:
len(data_companies['offices'])
print(data_companies['offices'][0])

[{'description': 'Headquarters', 'address1': '4900 Hopyard Rd.', 'address2': 'Suite 310', 'zip_code': '94588', 'city': 'Pleasanton', 'state_code': 'CA', 'country_code': 'USA', 'latitude': 37.692934, 'longitude': -121.904945}]

In [14]:
latitude = [d[0].get('latitude') for d in data_companies.offices]
longitude = [d[0].get('longitude') for d in data_companies.offices]

In [15]:
data_companies['latitude'] = latitude
data_companies['longitude'] = longitude

In [16]:
display(data_companies)

,_id,category_code,deadpooled_year,founded_year,name,offices,total_money_raised,latitude,longitude
0,52cdef7c4bab8bd675297d8b,enterprise,2.0,1996.0,AdventNet,"[{'description': 'Headquarters', 'address1': '...",$0,37.692934,-121.904945
1,52cdef7c4bab8bd675297d8c,tech,3.0,2005.0,Zoho,"[{'description': 'Headquarters', 'address1': '...",$0,37.692934,-121.904945
2,52cdef7c4bab8bd675297d8a,tech,1.0,2005.0,Wetpaint,"[{'description': '', 'address1': '710 - 2nd Av...",$39.8M,47.603122,-122.333253
3,52cdef7c4bab8bd675297d8d,news,NaN,2004.0,Digg,"[{'description': None, 'address1': '135 Missis...",$45M,37.764726,-122.394523
4,52cdef7c4bab8bd675297d8f,tech,2008.0,2005.0,Omnidrive,"[{'description': '', 'address1': 'Suite 200', ...",$800k,NaN,NaN
5,52cdef7c4bab8bd675297d90,tech,NaN,1999.0,Postini,"[{'description': None, 'address1': '959 Skyway...",$0,37.506885,-122.247573
6,52cdef7c4bab8bd675297d92,tech,NaN,NaN,Flektor,"[{'description': None, 'address1': '8536 Natio...",$0,34.025958,-118.379768
7,52cdef7c4bab8bd675297d91,tech,NaN,2006.0,Geni,"[{'description': 'Headquarters', 'address1': '...",$16.5M,34.090368,-118.393064
8,52cdef7c4bab8bd675297d93,tech,NaN,1979.0,Fox Interactive Media,"[{'description': '', 'address1': '407 N Maple ...",$0,34.076179,-118.394170
9,52cdef7c4bab8bd675297d96,tech,NaN,2003.0,Gizmoz,"[{'description': None, 'address1': None, 'addr...",$18.1M,37.484130,-122.169472
10,52cdef7c4bab8bd675297d9a,tech,NaN,2005.0,Helio,"[{'description': None, 'address1': '10960 Wils...",$0,34.057498,-118.446596
11,52cdef7c4bab8bd675297d95,tech,NaN,2002.0,StumbleUpon,"[{'description': '', 'address1': '', 'address2...",$18.5M,37.775196,-122.419204
12,52cdef7c4bab8bd675297d98,music,NaN,2006.0,Slacker,"[{'description': '', 'address1': '16935 W. Ber...",$73.1M,33.022176,-117.081406
13,52cdef7c4bab8bd675297d99,tech,NaN,NaN,Lala,"[{'description': 'Lala Headquarters', 'address...",$44.2M,37.451151,-122.154369
14,52cdef7c4bab8bd675297d97,news,NaN,2007.0,Scribd,"[{'description': 'HQ', 'address1': '539 Bryant...",$25.8M,37.789634,-122.404052
15,52cdef7c4bab8bd675297d9c,social,NaN,2007.0,MeetMoi,"[{'description': None, 'address1': '', 'addres...",$5.58M,40.757929,-73.985506
16,52cdef7c4bab8bd675297d9d,tech,NaN,2006.0,Joost,"[{'description': '', 'address1': '100 5th Ave ...",$45M,40.746497,-74.009447
17,52cdef7c4bab8bd675297da0,tech,2013.0,2007.0,Babelgum,"[{'description': '', 'address1': '', 'address2...",$13.2M,53.344104,-6.267494
18,52cdef7c4bab8bd675297d9e,news,NaN,1986.0,CBS,"[{'description': None, 'address1': '', 'addres...",$0,37.269175,-119.306607
19,52cdef7c4bab8bd675297da1,tech,NaN,2002.0,Plaxo,"[{'description': 'HQ', 'address1': '1050 Enter...",$28.3M,37.387845,-122.055197
20,52cdef7c4bab8bd675297d9f,tech,NaN,1971.0,Viacom,"[{'description': 'HQ', 'address1': '1515 Broad...",$0,40.757725,-73.986011
21,52cdef7c4bab8bd675297d94,social,NaN,2006.0,Twitter,"[{'description': '', 'address1': '1355 Market ...",$1.16B,37.776805,-122.416924
22,52cdef7c4bab8bd675297d8e,social,NaN,2004.0,Facebook,"[{'description': 'Headquarters', 'address1': '...",$2.43B,37.416050,-122.151801
23,52cdef7c4bab8bd675297d9b,tech,NaN,1995.0,eBay,"[{'description': 'Headquarters', 'address1': '...",$6.7M,37.295005,-121.930035
24,52cdef7c4bab8bd675297da4,tech,NaN,2006.0,Powerset,"[{'description': None, 'address1': '475 Branna...",$22.5M,37.778613,-122.395289
25,52cdef7c4bab8bd675297da5,tech,NaN,2002.0,Technorati,"[{'description': '', 'address1': '360 Post St....",$32.1M,37.779558,-122.393041
26,52cdef7c4bab8bd675297da6,tech,NaN,NaN,SpinVox,"[{'description': 'Corporate Headquarters', 'ad...",$106M,NaN,NaN
27,52cdef7c4bab8bd675297daa,tech,2008.0,2007.0,Sparter,"[{'description': None, 'address1': None, 'addr...",$0,37.090240,-95.712891
28,52cdef7c4bab8bd675297da9,tech,NaN,2007.0,Mahalo,"[{'description': '', 'address1': '3525 Eastham...",$21M,34.017606,-118.487267
29,52cdef7c4bab8bd675297dab,tech,NaN,2006.0,Kyte,"[{'description': None, 'address1': '442 Post S...",$23.4M,37.788482,-122.409173
...,...,...,...,...,...,...,...,...,...
13714,52cdef7f4bab8bd67529c6d5,public_relations,NaN,2009.0,SEO Sumo,"[{'description': 'Main Office', 'address1': '6...",$0,25.723408,-80.306331
13715,52cdef7f4bab8bd67529c6d6,tech,NaN,2009.0,InstantQ,"[{'description': '', 'address1': '', 'address2...",$0,37.369195,-122.036849
13716,52cdef7f4bab8bd67529c6d8,enterprise,NaN,2004.0,NextLabs,"[{'description': 'Corporate Headquarters', 'ad...",$0,37.553121,-122.301534
13717,52cdef7f4bab8bd67529c6d9,tech,NaN,2008.0,iGuiders,"[{'description': '', 'address1': '23811 Chagri...",$1.17M,NaN,NaN
13718,52cdef7f4bab8bd67529c6d4,education,NaN,2011.0,Treehouse,"[{'description': '', 'address1': '', 'address2...",$19.4M,NaN,NaN
13719,52cdef7f4bab8bd67529c6db,tech,NaN,NaN,Optemo,"[{'description': '', 'address1': '246 - 970 Bu...",$0,NaN,NaN
13720,52cdef7f4bab8bd67529c6da,tech,NaN,NaN,Xray Imatek,"[{'description': 'Office', 'address1': 'Edific...",€300k,NaN,NaN
13721,52cdef7f4bab8bd67529c6de,None,NaN,2006.0,Cantimer,"[{'description': '', 'address1': '3700 Haven C...",$2M,37.484616,-122.181753
13722,52cdef7f4bab8bd67529c6dc,tech,NaN,2009.0,acrossair,"[{'description': '198 High Holborn', 'address1...",$0,51.517742,-0.116537
13723,52cdef7f4bab8bd67529c6df,tech,NaN,NaN,SolarPower Israel,"[{'description': '', 'address1': 'Yevulim Comp...",$1.1M,NaN,NaN
13724,52cdef7f4bab8bd67529c6dd,medical,NaN,2001.0,Cameron Health,"[{'description': 'Corporate Office', 'address1...",$121M,33.448010,-117.607717
13725,52cdef7f4bab8bd67529c6e0,semiconductor,NaN,2004.0,Celestial Semiconductor,"[{'description': '', 'address1': '2635 North 1...",$2M,37.386417,-121.929170
13726,52cdef7f4bab8bd67529c6e2,tech,NaN,2009.0,MyChances,"[{'description': 'Headquarters', 'address1': '...",$0,39.394564,-119.812079
13727,52cdef7f4bab8bd67529c6e1,tech,NaN,1996.0,Purfresh,"[{'description': 'HQ', 'address1': '1350 Willo...",$62.7M,37.477008,-122.151599
13728,52cdef7f4bab8bd67529c6e3,tech,NaN,NaN,InSound Medical,"[{'description': '', 'address1': '39660 Eureka...",$11M,37.512038,-121.998513
13729,52cdef7f4bab8bd67529c6e4,tech,NaN,2009.0,Getyoo,"[{'description': 'HQ', 'address1': 'Rue des Ta...",€1.13M,50.839970,4.346472
13730,52cdef7f4bab8bd67529c6ea,tech,NaN,2006.0,Eazeeloans,"[{'description': 'Apex Finance & Marketing', '...",$0,NaN,NaN
13731,52cdef7f4bab8bd67529c6ee,tech,NaN,2000.0,EnterSys Group,"[{'description': '', 'address1': '13280 NW Fre...",$0,29.848779,-95.504545
13732,52cdef7f4bab8bd67529c6eb,tech,NaN,2012.0,DocASAP,"[{'description': '', 'address1': '115 5th Ave'...",$800k,NaN,NaN
13733,52cdef7f4bab8bd67529c6ef,tech,NaN,2004.0,Axon Solutions,"[{'description': '', 'address1': '15 Exchange ...",$0,40.715887,-74.033251
13734,52cdef7f4bab8bd67529c6f0,tech,NaN,2003.0,Intergy,"[{'description': '', 'address1': '11875 Dublin...",$0,37.701940,-121.936698
13735,52cdef7f4bab8bd67529c6e6,music,2009.0,2009.0,OfficialVirtualDJ,"[{'description': 'Created in London', 'address...",€25M,NaN,NaN
13736,52cdef7f4bab8bd67529c6f2,tech,NaN,1974.0,Contemporary Computer Services,"[{'description': '', 'address1': '200 Knickerb...",$0,40.775055,-73.088140
13737,52cdef7f4bab8bd67529c6f3,tech,NaN,1967.0,QSGI,"[{'description': '', 'address1': '400 Royal Pa...",$0,26.705331,-80.041395
13738,52cdef7f4bab8bd67529c6f1,other,NaN,NaN,Willdan Group,"[{'description': '', 'address1': '2401 East Ka...",$0,33.806525,-117.882314
13739,52cdef7f4bab8bd67529c6f7,tech,NaN,2002.0,AfterLogic,"[{'description': 'Livingston', 'address1': 'P....",$0,40.793024,-74.323554
13740,52cdef7f4bab8bd67529c6f5,tech,NaN,2009.0,Oriact,"[{'description': '', 'address1': 'LÃ¤rchenweg ...",$0,47.088219,8.437163
13741,52cdef7f4bab8bd67529c6f6,tech,NaN,2009.0,Adhunk,"[{'description': 'Indian Office', 'address1': ...",$0,NaN,NaN
13742,52cdef7f4bab8bd67529c6f9,tech,NaN,NaN,EnteGreat Solutions,"[{'description': '', 'address1': '', 'address2...",$0,33.518885,-86.816068
13743,52cdef7f4bab8bd67529c6fa,enterprise,NaN,2000.0,EnteGreat,"[{'description': '', 'address1': '1900 Interna...",$0,33.407786,-86.761302

In [17]:
def dropcolumns(data, columns):
        data = data.drop(columns, axis=1)
        return data

In [18]:
data_companies = dropcolumns(data_companies, ['offices', '_id'])

In [19]:
data_companies.head()

,category_code,deadpooled_year,founded_year,name,total_money_raised,latitude,longitude
0,enterprise,2.0,1996.0,AdventNet,$0,37.692934,-121.904945
1,tech,3.0,2005.0,Zoho,$0,37.692934,-121.904945
2,tech,1.0,2005.0,Wetpaint,$39.8M,47.603122,-122.333253
3,news,NaN,2004.0,Digg,$45M,37.764726,-122.394523
4,tech,2008.0,2005.0,Omnidrive,$800k,NaN,NaN

In [20]:
#data_companies = data_companies[np.isnan(data_companies['deadpooled_year'])]

In [21]:
data_companies = data_companies[data_companies['deadpooled_year'].isna()]

In [22]:
display(data_companies)

,category_code,deadpooled_year,founded_year,name,total_money_raised,latitude,longitude
3,news,NaN,2004.0,Digg,$45M,37.764726,-122.394523
5,tech,NaN,1999.0,Postini,$0,37.506885,-122.247573
6,tech,NaN,NaN,Flektor,$0,34.025958,-118.379768
7,tech,NaN,2006.0,Geni,$16.5M,34.090368,-118.393064
8,tech,NaN,1979.0,Fox Interactive Media,$0,34.076179,-118.394170
9,tech,NaN,2003.0,Gizmoz,$18.1M,37.484130,-122.169472
10,tech,NaN,2005.0,Helio,$0,34.057498,-118.446596
11,tech,NaN,2002.0,StumbleUpon,$18.5M,37.775196,-122.419204
12,music,NaN,2006.0,Slacker,$73.1M,33.022176,-117.081406
13,tech,NaN,NaN,Lala,$44.2M,37.451151,-122.154369
14,news,NaN,2007.0,Scribd,$25.8M,37.789634,-122.404052
15,social,NaN,2007.0,MeetMoi,$5.58M,40.757929,-73.985506
16,tech,NaN,2006.0,Joost,$45M,40.746497,-74.009447
18,news,NaN,1986.0,CBS,$0,37.269175,-119.306607
19,tech,NaN,2002.0,Plaxo,$28.3M,37.387845,-122.055197
20,tech,NaN,1971.0,Viacom,$0,40.757725,-73.986011
21,social,NaN,2006.0,Twitter,$1.16B,37.776805,-122.416924
22,social,NaN,2004.0,Facebook,$2.43B,37.416050,-122.151801
23,tech,NaN,1995.0,eBay,$6.7M,37.295005,-121.930035
24,tech,NaN,2006.0,Powerset,$22.5M,37.778613,-122.395289
25,tech,NaN,2002.0,Technorati,$32.1M,37.779558,-122.393041
26,tech,NaN,NaN,SpinVox,$106M,NaN,NaN
28,tech,NaN,2007.0,Mahalo,$21M,34.017606,-118.487267
29,tech,NaN,2006.0,Kyte,$23.4M,37.788482,-122.409173
31,tech,NaN,2005.0,Jingle Networks,$88.7M,37.480999,-122.173887
32,tech,NaN,2008.0,OpenX,$75.5M,34.149471,-118.132747
33,tech,NaN,NaN,Info,$8.4M,41.885619,-87.622309
34,tech,NaN,NaN,JotSpot,$5.2M,37.437328,-122.159928
36,tech,NaN,NaN,NetRatings,$0,37.090240,-95.712891
37,tech,NaN,NaN,Gannett,$0,38.929289,-77.216585
...,...,...,...,...,...,...,...
13713,tech,NaN,1998.0,Atlantic BT,$0,35.896906,-78.680678
13714,public_relations,NaN,2009.0,SEO Sumo,$0,25.723408,-80.306331
13715,tech,NaN,2009.0,InstantQ,$0,37.369195,-122.036849
13716,enterprise,NaN,2004.0,NextLabs,$0,37.553121,-122.301534
13717,tech,NaN,2008.0,iGuiders,$1.17M,NaN,NaN
13718,education,NaN,2011.0,Treehouse,$19.4M,NaN,NaN
13719,tech,NaN,NaN,Optemo,$0,NaN,NaN
13720,tech,NaN,NaN,Xray Imatek,€300k,NaN,NaN
13721,None,NaN,2006.0,Cantimer,$2M,37.484616,-122.181753
13722,tech,NaN,2009.0,acrossair,$0,51.517742,-0.116537
13723,tech,NaN,NaN,SolarPower Israel,$1.1M,NaN,NaN
13724,medical,NaN,2001.0,Cameron Health,$121M,33.448010,-117.607717
13725,semiconductor,NaN,2004.0,Celestial Semiconductor,$2M,37.386417,-121.929170
13726,tech,NaN,2009.0,MyChances,$0,39.394564,-119.812079
13727,tech,NaN,1996.0,Purfresh,$62.7M,37.477008,-122.151599
13728,tech,NaN,NaN,InSound Medical,$11M,37.512038,-121.998513
13729,tech,NaN,2009.0,Getyoo,€1.13M,50.839970,4.346472
13730,tech,NaN,2006.0,Eazeeloans,$0,NaN,NaN
13731,tech,NaN,2000.0,EnterSys Group,$0,29.848779,-95.504545
13732,tech,NaN,2012.0,DocASAP,$800k,NaN,NaN
13733,tech,NaN,2004.0,Axon Solutions,$0,40.715887,-74.033251
13734,tech,NaN,2003.0,Intergy,$0,37.701940,-121.936698
13736,tech,NaN,1974.0,Contemporary Computer Services,$0,40.775055,-73.088140
13737,tech,NaN,1967.0,QSGI,$0,26.705331,-80.041395
13738,other,NaN,NaN,Willdan Group,$0,33.806525,-117.882314
13739,tech,NaN,2002.0,AfterLogic,$0,40.793024,-74.323554
13740,tech,NaN,2009.0,Oriact,$0,47.088219,8.437163
13741,tech,NaN,2009.0,Adhunk,$0,NaN,NaN
13742,tech,NaN,NaN,EnteGreat Solutions,$0,33.518885,-86.816068
13743,enterprise,NaN,2000.0,EnteGreat,$0,33.407786,-86.761302

In [23]:
data_companies.dropna(subset=['founded_year', 'latitude', 'longitude'], inplace=True)
data_companies.head()
#df.dropna(axis=1, subset=[1]

,category_code,deadpooled_year,founded_year,name,total_money_raised,latitude,longitude
3,news,NaN,2004.0,Digg,$45M,37.764726,-122.394523
5,tech,NaN,1999.0,Postini,$0,37.506885,-122.247573
7,tech,NaN,2006.0,Geni,$16.5M,34.090368,-118.393064
8,tech,NaN,1979.0,Fox Interactive Media,$0,34.076179,-118.394170
9,tech,NaN,2003.0,Gizmoz,$18.1M,37.484130,-122.169472

In [24]:
#Ya tengo las categorias, los deadpooled Nan, los founded year como int, y la latitude y longitud bien

In [25]:
data_companies['total_money_raised'].value_counts().head()

$0       4863
$1M        46
$10M       46
$500k      34
$5M        31
Name: total_money_raised, dtype: int64

In [63]:
gender = {'M': 1000000,'K': 1000} 

data_companies['new'] = [gender[item] for item in data_companies['total_money_raised']]

KeyError: '$45M'

In [59]:
def moneyRaise(value):
    replaced = []
    mymap = {'K':1000, 'M':1000000}
    if re.search('[\$]', value):
        value = value.replace('M', '')
        #list_vacia.append(value)
        #value.replace('M', "")
    elif re.search('[\€]', value):
        value = value.replace('K', '')
        #list_vacia.append(value)

    return value
    #elif re.search['[\£]', value]:
        #return ('adios')

In [60]:
data_companies['total_money_raised'].apply(moneyRaise)

3           $45
5            $0
7         $16.5
8            $0
9         $18.1
10           $0
11        $18.5
12        $73.1
14        $25.8
15        $5.58
16          $45
18           $0
19        $28.3
20           $0
21       $1.16B
22       $2.43B
23         $6.7
24        $22.5
25        $32.1
28          $21
29        $23.4
31        $88.7
32        $75.5
39        $69.8
40        $18.3
41          $73
42         $178
44           $0
45         $120
46         $2.5
          ...
13693        $0
13695        $0
13696        $0
13697        $0
13699        $0
13700        $0
13701        $0
13703      $136
13706        $0
13709        $0
13710        $0
13713        $0
13714        $0
13715        $0
13716        $0
13721        $2
13722        $0
13724      $121
13725        $2
13726        $0
13727     $62.7
13729    €1.13M
13731        $0
13733        $0
13734        $0
13736        $0
13737        $0
13739        $0
13740        $0
13743        $0
Name: total_money_raised, Length: 7454, dtype: object

In [61]:
mymap = {'K':1000, 'M':1000000}

df.applymap(lambda s: mymap.get(s) if s in mymap else s)

SyntaxError: invalid syntax (<ipython-input-61-8662c31e4900>, line 1)