In [1]:
import pandas as pd
from pymongo import MongoClient
import pprint
import re
import numpy as np
import requests

client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [2]:
companies = db.companies.find({
    "offices":{
        "$not":{
            "$size":0
        }
    }
, "founded_year":{
    "$gte": 2007
}
}
,{"name":1, "founded_year":1, "offices":1, "category_code":1, "total_money_raised":1, "deadpooled_year":1, "number_of_employees":1})

In [3]:
#companies = db.companies.find({
    #"offices":{
        #"$not":{
            #"$size":0
        #}
    #}
#}
#,{"name":1, "founded_year":1, "offices":1, "category_code":1, "total_money_raised":1, "deadpooled_year":1, "number_of_employees":1})

#Filtro por estos porque quiero los que tengan más de 10 años, la categoria para saber si son tech o design, 
#el money raised y las oficinas

In [4]:
#{$and:[{total_money_raised:{$gt: 100 }},{founded_year:{$lte: 2010 }}]}

In [5]:
#{$and:[{number_of_employees:{$gt: 100 }},{founded_year:{$lte: 2005 }}

In [6]:
data_companies = pd.DataFrame(companies)
display(data_companies)

,_id,category_code,deadpooled_year,founded_year,name,number_of_employees,offices,total_money_raised
0,52cdef7c4bab8bd675297d97,news,NaN,2007,Scribd,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...",$25.8M
1,52cdef7c4bab8bd675297d9c,social,NaN,2007,MeetMoi,15.0,"[{'description': None, 'address1': '', 'addres...",$5.58M
2,52cdef7c4bab8bd675297da0,games_video,2013.0,2007,Babelgum,NaN,"[{'description': '', 'address1': '', 'address2...",$13.2M
3,52cdef7c4bab8bd675297daa,games_video,2008.0,2007,Sparter,NaN,"[{'description': None, 'address1': None, 'addr...",$0
4,52cdef7c4bab8bd675297da9,web,NaN,2007,Mahalo,40.0,"[{'description': '', 'address1': '3525 Eastham...",$21M
5,52cdef7c4bab8bd675297da8,advertising,NaN,2008,OpenX,305.0,"[{'description': 'Headquarters', 'address1': '...",$75.5M
6,52cdef7c4bab8bd675297dc2,games_video,NaN,2007,AdaptiveBlue,15.0,"[{'description': '', 'address1': '131 Varick S...",$24M
7,52cdef7c4bab8bd675297dc0,games_video,NaN,2007,Livestream,120.0,"[{'description': 'Livestream HQ', 'address1': ...",$14.7M
8,52cdef7c4bab8bd675297dc1,games_video,NaN,2007,Ustream,250.0,"[{'description': 'San Francisco Office', 'addr...",$60.1M
9,52cdef7c4bab8bd675297dca,web,NaN,2007,Pownce,6.0,"[{'description': '', 'address1': '1459 18th St...",$0
10,52cdef7c4bab8bd675297dce,mobile,NaN,2007,ZenZui,NaN,"[{'description': None, 'address1': None, 'addr...",$0
11,52cdef7c4bab8bd675297dd1,web,NaN,2007,SodaHead,25.0,"[{'description': '', 'address1': '16161 Ventur...",$12.7M
12,52cdef7c4bab8bd675297dcd,web,NaN,2007,CriticalMetrics,4.0,"[{'description': None, 'address1': None, 'addr...",$100k
13,52cdef7c4bab8bd675297dd8,games_video,NaN,2007,Funny Or Die,NaN,"[{'description': 'Head Quarters', 'address1': ...",$18M
14,52cdef7c4bab8bd675297de3,web,2008.0,2007,Spotplex,3.0,"[{'description': None, 'address1': '3160 De La...",$450k
15,52cdef7c4bab8bd675297de6,web,NaN,2007,Wakoopa,8.0,"[{'description': 'Arts & Crafts', 'address1': ...",$1M
16,52cdef7c4bab8bd675297de4,travel,NaN,2007,Yapta,NaN,"[{'description': None, 'address1': '315 1st Av...",$24.3M
17,52cdef7c4bab8bd675297dec,web,NaN,2007,coRank,0.0,"[{'description': None, 'address1': None, 'addr...",$0
18,52cdef7c4bab8bd675297dfd,web,NaN,2007,CrowdVine,10.0,"[{'description': '', 'address1': '53 S Knoll R...",$0
19,52cdef7c4bab8bd675297e00,web,NaN,2007,TVtrip,NaN,"[{'description': None, 'address1': '', 'addres...",$13.8M
20,52cdef7c4bab8bd675297e1d,web,NaN,2007,Seesmic,13.0,"[{'description': '', 'address1': '1550 Bryant ...",$16M
21,52cdef7c4bab8bd675297e2a,network_hosting,NaN,2007,Cofoundr,0.0,"[{'description': None, 'address1': None, 'addr...",$0
22,52cdef7c4bab8bd675297e2b,web,2012.0,2007,Ujogo,6.0,"[{'description': None, 'address1': None, 'addr...",$0
23,52cdef7c4bab8bd675297e30,software,NaN,2008,GoingOn,40.0,"[{'description': 'GoingOn Networks, Inc.', 'ad...",$8.5M
24,52cdef7c4bab8bd675297e50,web,NaN,2007,Kwiqq,10.0,"[{'description': None, 'address1': 'Kwiqq, Sus...",$0
25,52cdef7c4bab8bd675297e60,web,NaN,2007,FeVote,1.0,"[{'description': '', 'address1': '', 'address2...",$0
26,52cdef7c4bab8bd675297e65,web,NaN,2007,Relationals,NaN,"[{'description': None, 'address1': '1230 Midas...",$0
27,52cdef7c4bab8bd675297e6a,web,NaN,2007,Nononina,NaN,"[{'description': 'SF Bay Area', 'address1': ''...",$0
28,52cdef7c4bab8bd675297e68,advertising,NaN,2007,DOmedia,NaN,"[{'description': 'World Headquarters', 'addres...",$0
29,52cdef7c4bab8bd675297e71,web,NaN,2007,Forbes,NaN,"[{'description': '', 'address1': '60 5th Avenu...",$0
...,...,...,...,...,...,...,...,...
4233,52cdef7f4bab8bd67529c679,mobile,NaN,2008,Bump Technologies,NaN,"[{'description': 'HQ', 'address1': '', 'addres...",$19.9M
4234,52cdef7f4bab8bd67529c681,security,NaN,2007,SERG,20.0,"[{'description': 'Home', 'address1': '1-A, E/5...",$0
4235,52cdef7f4bab8bd67529c682,software,NaN,2007,Meeho!,5.0,"[{'description': 'Headquarters', 'address1': '...",$0
4236,52cdef7f4bab8bd67529c68d,advertising,NaN,2007,ActionBase,NaN,"[{'description': 'ActionBase', 'address1': '13...",$400k
4237,52cdef7f4bab8bd67529c691,software,NaN,2007,ALOT,50.0,"[{'description': '', 'address1': '143 Varick S...",$0
4238,52cdef7f4bab8bd67529c693,consulting,NaN,2007,Business and Technology Strategies,5.0,"[{'description': 'Primary Office', 'address1':...",$0
4239,52cdef7f4bab8bd67529c694,games_video,NaN,2008,Fictionaut,2.0,"[{'description': 'New York', 'address1': '32-1...",$0
4240,52cdef7f4bab8bd67529c697,consulting,NaN,2009,atlanticOptimize,1.0,"[{'description': 'Main Office', 'address1': '5...",$0
4241,52cdef7f4bab8bd67529c696,web,NaN,2008,Conversition,10.0,"[{'description': 'HQ', 'address1': '', 'addres...",$0
4242,52cdef7f4bab8bd67529c699,advertising,NaN,2008,phinditt,10.0,"[{'description': 'suite', 'address1': '', 'add...",$0
4243,52cdef7f4bab8bd67529c69e,search,NaN,2008,Crowdeye,NaN,"[{'description': 'Crowdeye', 'address1': '7626...",$0
4244,52cdef7f4bab8bd67529c6a0,enterprise,NaN,2008,Jelli,12.0,"[{'description': 'Jelli, Inc.', 'address1': '4...",$16.6M
4245,52cdef7f4bab8bd67529c6b6,games_video,NaN,2009,Tiny Speck,45.0,"[{'description': '', 'address1': '163 Hastings...",$17.2M
4246,52cdef7f4bab8bd67529c6c1,cleantech,2011.0,2009,Advanced Power Projects,NaN,"[{'description': '', 'address1': '43801 Missio...",$13M
4247,52cdef7f4bab8bd67529c6c2,games_video,NaN,2007,My TV Shows,2.0,"[{'description': 'Lisbon Office', 'address1': ...",$0
4248,52cdef7f4bab8bd67529c6c9,web,NaN,2009,ConvoCreatr,2.0,"[{'description': 'Head Satelite Office', 'addr...",$0
4249,52cdef7f4bab8bd67529c6ca,other,NaN,2008,Hellocoton,4.0,"[{'description': '', 'address1': '108 boulevar...",$0
4250,52cdef7f4bab8bd67529c6cc,enterprise,NaN,2008,Knowledge Genes,NaN,"[{'description': 'Research and Development', '...",$0
4251,52cdef7f4bab8bd67529c6ce,search,NaN,2008,Buddhacom,8.0,"[{'description': 'Toronto Office', 'address1':...",$0
4252,52cdef7f4bab8bd67529c6d5,public_relations,NaN,2009,SEO Sumo,5.0,"[{'description': 'Main Office', 'address1': '6...",$0
4253,52cdef7f4bab8bd67529c6d6,advertising,NaN,2009,InstantQ,3.0,"[{'description': '', 'address1': '', 'address2...",$0
4254,52cdef7f4bab8bd67529c6d9,web,NaN,2008,iGuiders,5.0,"[{'description': '', 'address1': '23811 Chagri...",$1.17M
4255,52cdef7f4bab8bd67529c6d4,education,NaN,2011,Treehouse,55.0,"[{'description': '', 'address1': '', 'address2...",$19.4M
4256,52cdef7f4bab8bd67529c6dc,mobile,NaN,2009,acrossair,6.0,"[{'description': '198 High Holborn', 'address1...",$0
4257,52cdef7f4bab8bd67529c6e2,consulting,NaN,2009,MyChances,2.0,"[{'description': 'Headquarters', 'address1': '...",$0
4258,52cdef7f4bab8bd67529c6e4,mobile,NaN,2009,Getyoo,10.0,"[{'description': 'HQ', 'address1': 'Rue des Ta...",€1.13M
4259,52cdef7f4bab8bd67529c6eb,web,NaN,2012,DocASAP,7.0,"[{'description': '', 'address1': '115 5th Ave'...",$800k
4260,52cdef7f4bab8bd67529c6e6,music,2009.0,2009,OfficialVirtualDJ,102.0,"[{'description': 'Created in London', 'address...",€25M
4261,52cdef7f4bab8bd67529c6f5,software,NaN,2009,Oriact,NaN,"[{'description': '', 'address1': 'LÃ¤rchenweg ...",$0
4262,52cdef7f4bab8bd67529c6f6,advertising,NaN,2009,Adhunk,3.0,"[{'description': 'Indian Office', 'address1': ...",$0

In [7]:
def getFirst(data):
    data = data['offices']
#    return (len(data),data[0]['latitude'],data[0]['longitude'])

    # Only create the geoJSON object if all geodata is available
    principal = None
    if data[0]['latitude'] and data[0]['longitude']:
        principal = {
            "type":"Point",
            "coordinates":[data[0]['longitude'], data[0]['latitude']]
        }

    return {
        "lat": data[0]['latitude'],
        "lng": data[0]['longitude'],
        "principal_office": principal
    }

In [8]:
geo_office = data_companies[["offices"]].apply(getFirst, result_type="expand", axis=1)

In [9]:
df_clean = pd.concat([data_companies,geo_office], axis=1)[["principal_office"]]

In [10]:
data_companies['geoDescription'] = df_clean

In [11]:
data_companies.head()

,_id,category_code,deadpooled_year,founded_year,name,number_of_employees,offices,total_money_raised,geoDescription
0,52cdef7c4bab8bd675297d97,news,NaN,2007,Scribd,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...",$25.8M,"{'type': 'Point', 'coordinates': [-122.404052,..."
1,52cdef7c4bab8bd675297d9c,social,NaN,2007,MeetMoi,15.0,"[{'description': None, 'address1': '', 'addres...",$5.58M,"{'type': 'Point', 'coordinates': [-73.985506, ..."
2,52cdef7c4bab8bd675297da0,games_video,2013.0,2007,Babelgum,NaN,"[{'description': '', 'address1': '', 'address2...",$13.2M,"{'type': 'Point', 'coordinates': [-6.267494, 5..."
3,52cdef7c4bab8bd675297daa,games_video,2008.0,2007,Sparter,NaN,"[{'description': None, 'address1': None, 'addr...",$0,"{'type': 'Point', 'coordinates': [-95.712891, ..."
4,52cdef7c4bab8bd675297da9,web,NaN,2007,Mahalo,40.0,"[{'description': '', 'address1': '3525 Eastham...",$21M,"{'type': 'Point', 'coordinates': [-118.487267,..."

In [12]:
data_companies['category_code'].value_counts()

web                 1167
software             514
games_video          365
advertising          287
mobile               277
ecommerce            222
other                222
enterprise           213
network_hosting      160
public_relations     154
consulting           141
search               115
cleantech             61
biotech               53
hardware              37
social                29
analytics             29
security              24
education             19
music                 18
news                  18
finance               16
travel                14
photo_video           14
messaging             12
health                 8
sports                 8
medical                6
semiconductor          6
legal                  6
fashion                5
hospitality            4
real_estate            4
design                 3
manufacturing          3
automotive             1
nanotech               1
nonprofit              1
transportation         1
Name: category_code, dtype: int64

In [13]:
#list_category = ['web', 'software', 'games_video', 'advertising', , 'ecommerce', 'search', 'network_hosting'
                #,'consulting','hardware', 'biotech', 'cleantech', 'analytics','hardware', 'photo_video', 'messaging', 'design']

In [14]:
#data_companies = data_companies[data_companies['category_code'].isin(list_category)]

In [15]:
list_category = {'web': 'tech', 'software': 'tech', 
                 'games_video':'tech', 'advertising':'tech', 'mobile':'tech', 'ecommerce':'tech', 'search':'tech', 'network_hosting':'tech'
                ,'consulting':'tech','hardware':'tech', 'biotech':'tech', 'cleantech':'tech', 'analytics':'tech','hardware':'tech', 'photo_video':'tech',
                'messaging':'tech', 'design':'tech'}

In [16]:
data_companies = data_companies.replace(to_replace=list_category, inplace=False)

In [17]:
data_companies.head()

,_id,category_code,deadpooled_year,founded_year,name,number_of_employees,offices,total_money_raised,geoDescription
0,52cdef7c4bab8bd675297d97,news,NaN,2007,Scribd,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...",$25.8M,"{'type': 'Point', 'coordinates': [-122.404052,..."
1,52cdef7c4bab8bd675297d9c,social,NaN,2007,MeetMoi,15.0,"[{'description': None, 'address1': '', 'addres...",$5.58M,"{'type': 'Point', 'coordinates': [-73.985506, ..."
2,52cdef7c4bab8bd675297da0,tech,2013.0,2007,Babelgum,NaN,"[{'description': '', 'address1': '', 'address2...",$13.2M,"{'type': 'Point', 'coordinates': [-6.267494, 5..."
3,52cdef7c4bab8bd675297daa,tech,2008.0,2007,Sparter,NaN,"[{'description': None, 'address1': None, 'addr...",$0,"{'type': 'Point', 'coordinates': [-95.712891, ..."
4,52cdef7c4bab8bd675297da9,tech,NaN,2007,Mahalo,40.0,"[{'description': '', 'address1': '3525 Eastham...",$21M,"{'type': 'Point', 'coordinates': [-118.487267,..."

In [18]:
data_companies['founded_year'] = data_companies['founded_year'].dropna(axis=0).astype('int64', inplace=True)

In [19]:
data_companies['offices'][0]

[{'description': 'HQ',
  'address1': '539 Bryant Street',
  'address2': '',
  'zip_code': '94107',
  'city': 'San Francisco',
  'state_code': 'CA',
  'country_code': 'USA',
  'latitude': 37.789634,
  'longitude': -122.404052}]

In [20]:
len(data_companies['offices'])
print(data_companies['offices'][0])

[{'description': 'HQ', 'address1': '539 Bryant Street', 'address2': '', 'zip_code': '94107', 'city': 'San Francisco', 'state_code': 'CA', 'country_code': 'USA', 'latitude': 37.789634, 'longitude': -122.404052}]

In [21]:
latitude = [d[0].get('latitude') for d in data_companies.offices]
longitude = [d[0].get('longitude') for d in data_companies.offices]

In [22]:
data_companies['latitude'] = latitude
data_companies['longitude'] = longitude

In [23]:
city = [d[0].get('city') for d in data_companies.offices]
country = [d[0].get('country_code') for d in data_companies.offices]

In [24]:
data_companies['city'] = city
data_companies['country'] = country

In [25]:
display(data_companies)

,_id,category_code,deadpooled_year,founded_year,name,number_of_employees,offices,total_money_raised,geoDescription,latitude,longitude,city,country
0,52cdef7c4bab8bd675297d97,news,NaN,2007,Scribd,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...",$25.8M,"{'type': 'Point', 'coordinates': [-122.404052,...",37.789634,-122.404052,San Francisco,USA
1,52cdef7c4bab8bd675297d9c,social,NaN,2007,MeetMoi,15.0,"[{'description': None, 'address1': '', 'addres...",$5.58M,"{'type': 'Point', 'coordinates': [-73.985506, ...",40.757929,-73.985506,New York City,USA
2,52cdef7c4bab8bd675297da0,tech,2013.0,2007,Babelgum,NaN,"[{'description': '', 'address1': '', 'address2...",$13.2M,"{'type': 'Point', 'coordinates': [-6.267494, 5...",53.344104,-6.267494,London,GBR
3,52cdef7c4bab8bd675297daa,tech,2008.0,2007,Sparter,NaN,"[{'description': None, 'address1': None, 'addr...",$0,"{'type': 'Point', 'coordinates': [-95.712891, ...",37.090240,-95.712891,None,USA
4,52cdef7c4bab8bd675297da9,tech,NaN,2007,Mahalo,40.0,"[{'description': '', 'address1': '3525 Eastham...",$21M,"{'type': 'Point', 'coordinates': [-118.487267,...",34.017606,-118.487267,Culver City,USA
5,52cdef7c4bab8bd675297da8,tech,NaN,2008,OpenX,305.0,"[{'description': 'Headquarters', 'address1': '...",$75.5M,"{'type': 'Point', 'coordinates': [-118.1327468...",34.149471,-118.132747,Pasadena,USA
6,52cdef7c4bab8bd675297dc2,tech,NaN,2007,AdaptiveBlue,15.0,"[{'description': '', 'address1': '131 Varick S...",$24M,"{'type': 'Point', 'coordinates': [-74.3372, 40...",40.801358,-74.337200,NYC,USA
7,52cdef7c4bab8bd675297dc0,tech,NaN,2007,Livestream,120.0,"[{'description': 'Livestream HQ', 'address1': ...",$14.7M,"{'type': 'Point', 'coordinates': [-73.995625, ...",40.726155,-73.995625,New York,USA
8,52cdef7c4bab8bd675297dc1,tech,NaN,2007,Ustream,250.0,"[{'description': 'San Francisco Office', 'addr...",$60.1M,"{'type': 'Point', 'coordinates': [-122.07948, ...",37.392936,-122.079480,San Francisco,USA
9,52cdef7c4bab8bd675297dca,tech,NaN,2007,Pownce,6.0,"[{'description': '', 'address1': '1459 18th St...",$0,"{'type': 'Point', 'coordinates': [-122.397224,...",37.762541,-122.397224,San Francisco,USA
10,52cdef7c4bab8bd675297dce,tech,NaN,2007,ZenZui,NaN,"[{'description': None, 'address1': None, 'addr...",$0,"{'type': 'Point', 'coordinates': [-122.347533,...",47.620716,-122.347533,Seattle,USA
11,52cdef7c4bab8bd675297dd1,tech,NaN,2007,SodaHead,25.0,"[{'description': '', 'address1': '16161 Ventur...",$12.7M,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,Encino,USA
12,52cdef7c4bab8bd675297dcd,tech,NaN,2007,CriticalMetrics,4.0,"[{'description': None, 'address1': None, 'addr...",$100k,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,None,USA
13,52cdef7c4bab8bd675297dd8,tech,NaN,2007,Funny Or Die,NaN,"[{'description': 'Head Quarters', 'address1': ...",$18M,"{'type': 'Point', 'coordinates': [-122.137444,...",37.421621,-122.137444,San Mateo,USA
14,52cdef7c4bab8bd675297de3,tech,2008.0,2007,Spotplex,3.0,"[{'description': None, 'address1': '3160 De La...",$450k,"{'type': 'Point', 'coordinates': [-121.940749,...",37.380101,-121.940749,Santa Clara,USA
15,52cdef7c4bab8bd675297de6,tech,NaN,2007,Wakoopa,8.0,"[{'description': 'Arts & Crafts', 'address1': ...",$1M,"{'type': 'Point', 'coordinates': [4.8948623, 5...",52.374523,4.894862,Amsterdam,NLD
16,52cdef7c4bab8bd675297de4,travel,NaN,2007,Yapta,NaN,"[{'description': None, 'address1': '315 1st Av...",$24.3M,"{'type': 'Point', 'coordinates': [-122.334264,...",47.599925,-122.334264,Seattle,USA
17,52cdef7c4bab8bd675297dec,tech,NaN,2007,coRank,0.0,"[{'description': None, 'address1': None, 'addr...",$0,"{'type': 'Point', 'coordinates': [-122.02421, ...",37.369650,-122.024210,Sunnyvale,USA
18,52cdef7c4bab8bd675297dfd,tech,NaN,2007,CrowdVine,10.0,"[{'description': '', 'address1': '53 S Knoll R...",$0,"{'type': 'Point', 'coordinates': [-122.511687,...",37.900770,-122.511687,Mill Valley,USA
19,52cdef7c4bab8bd675297e00,tech,NaN,2007,TVtrip,NaN,"[{'description': None, 'address1': '', 'addres...",$13.8M,"{'type': 'Point', 'coordinates': [2.350987, 48...",48.856667,2.350987,Paris,FRA
20,52cdef7c4bab8bd675297e1d,tech,NaN,2007,Seesmic,13.0,"[{'description': '', 'address1': '1550 Bryant ...",$16M,"{'type': 'Point', 'coordinates': [-122.419204,...",37.775196,-122.419204,San Francisco,USA
21,52cdef7c4bab8bd675297e2a,tech,NaN,2007,Cofoundr,0.0,"[{'description': None, 'address1': None, 'addr...",$0,"{'type': 'Point', 'coordinates': [-122.420903,...",37.796164,-122.420903,None,USA
22,52cdef7c4bab8bd675297e2b,tech,2012.0,2007,Ujogo,6.0,"[{'description': None, 'address1': None, 'addr...",$0,"{'type': 'Point', 'coordinates': [-122.392861,...",37.767850,-122.392861,San Francisco,USA
23,52cdef7c4bab8bd675297e30,tech,NaN,2008,GoingOn,40.0,"[{'description': 'GoingOn Networks, Inc.', 'ad...",$8.5M,"{'type': 'Point', 'coordinates': [-122.392142,...",37.782263,-122.392142,San Francisco,USA
24,52cdef7c4bab8bd675297e50,tech,NaN,2007,Kwiqq,10.0,"[{'description': None, 'address1': 'Kwiqq, Sus...",$0,None,NaN,NaN,Brighton,GBR
25,52cdef7c4bab8bd675297e60,tech,NaN,2007,FeVote,1.0,"[{'description': '', 'address1': '', 'address2...",$0,"{'type': 'Point', 'coordinates': [-122.417928,...",37.779392,-122.417928,San Francisco,USA
26,52cdef7c4bab8bd675297e65,tech,NaN,2007,Relationals,NaN,"[{'description': None, 'address1': '1230 Midas...",$0,"{'type': 'Point', 'coordinates': [-121.992132,...",37.384651,-121.992132,Sunnyvale,USA
27,52cdef7c4bab8bd675297e6a,tech,NaN,2007,Nononina,NaN,"[{'description': 'SF Bay Area', 'address1': ''...",$0,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,,USA
28,52cdef7c4bab8bd675297e68,tech,NaN,2007,DOmedia,NaN,"[{'description': 'World Headquarters', 'addres...",$0,"{'type': 'Point', 'coordinates': [-83.005038, ...",39.967704,-83.005038,Columbus,USA
29,52cdef7c4bab8bd675297e71,tech,NaN,2007,Forbes,NaN,"[{'description': '', 'address1': '60 5th Avenu...",$0,"{'type': 'Point', 'coordinates': [-73.993302, ...",40.736416,-73.993302,New York,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,52cdef7f4bab8bd67529c679,tech,NaN,2008,Bump Technologies,NaN,"[{'description': 'HQ', 'address1': '', 'addres...",$19.9M,None,NaN,NaN,Mountain View,USA
4234,52cdef7f4bab8bd67529c681,security,NaN,2007,SERG,20.0,"[{'description': 'Home', 'address1': '1-A, E/5...",$0,None,NaN,NaN,Peshawar,PAK
4235,52cdef7f4bab8bd67529c682,tech,NaN,2007,Meeho!,5.0,"[{'description': 'Headquarters', 'address1': '...",$0,"{'type': 'Point', 'coordinates': [12.3933043, ...",55.752525,12.393304,Herlev,DNK
4236,52cdef7f4bab8bd67529c68d,tech,NaN,2007,ActionBase,NaN,"[{'description': 'ActionBase', 'address1': '13...",$400k,None,NaN,NaN,Tel Aviv,ISR
4237,52cdef7f4bab8bd67529c691,tech,NaN,2007,ALOT,50.0,"[{'description': '', 'address1': '143 Varick S...",$0,"{'type': 'Point', 'coordinates': [-74.006023, ...",40.726160,-74.006023,New York,USA
4238,52cdef7f4bab8bd67529c693,tech,NaN,2007,Business and Technology Strategies,5.0,"[{'description': 'Primary Office', 'address1':...",$0,"{'type': 'Point', 'coordinates': [-81.383874, ...",28.792491,-81.383874,Sanford,USA
4239,52cdef7f4bab8bd67529c694,tech,NaN,2008,Fictionaut,2.0,"[{'description': 'New York', 'address1': '32-1...",$0,"{'type': 'Point', 'coordinates': [-73.9161267,...",40.759795,-73.916127,Astoria,USA
4240,52cdef7f4bab8bd67529c697,tech,NaN,2009,atlanticOptimize,1.0,"[{'description': 'Main Office', 'address1': '5...",$0,None,NaN,NaN,West Palm Beach,USA
4241,52cdef7f4bab8bd67529c696,tech,NaN,2008,Conversition,10.0,"[{'description': 'HQ', 'address1': '', 'addres...",$0,"{'type': 'Point', 'coordinates': [-73.986951, ...",40.756054,-73.986951,New York City,USA
4242,52cdef7f4bab8bd67529c699,tech,NaN,2008,phinditt,10.0,"[{'description': 'suite', 'address1': '', 'add...",$0,None,NaN,NaN,,USA
4243,52cdef7f4bab8bd67529c69e,tech,NaN,2008,Crowdeye,NaN,"[{'description': 'Crowdeye', 'address1': '7626...",$0,None,NaN,NaN,Mercer Island,USA
4244,52cdef7f4bab8bd67529c6a0,enterprise,NaN,2008,Jelli,12.0,"[{'description': 'Jelli, Inc.', 'address1': '4...",$16.6M,"{'type': 'Point', 'coordinates': [-122.321836,...",37.559090,-122.321836,San Mateo,USA
4245,52cdef7f4bab8bd67529c6b6,tech,NaN,2009,Tiny Speck,45.0,"[{'description': '', 'address1': '163 Hastings...",$17.2M,"{'type': 'Point', 'coordinates': [-123.109217,...",49.282455,-123.109217,Vancouver,CAN
4246,52cdef7f4bab8bd67529c6c1,tech,2011.0,2009,Advanced Power Projects,NaN,"[{'description': '', 'address1': '43801 Missio...",$13M,"{'type': 'Point', 'coordinates': [-121.9178417...",37.525246,-121.917842,Fremont,USA
4247,52cdef7f4bab8bd67529c6c2,tech,NaN,2007,My TV Shows,2.0,"[{'description': 'Lisbon Office', 'address1': ...",$0,"{'type': 'Point', 'coordinates': [-9.1462209, ...",38.752367,-9.146221,Lisbon,PRT
4248,52cdef7f4bab8bd67529c6c9,tech,NaN,2009,ConvoCreatr,2.0,"[{'description': 'Head Satelite Office', 'addr...",$0,None,NaN,NaN,Toronto,CAN
4249,52cdef7f4bab8bd67529c6ca,other,NaN,2008,Hellocoton,4.0,"[{'description': '', 'address1': '108 boulevar...",$0,"{'type': 'Point', 'coordinates': [2.3389864, 4...",48.831850,2.338986,Paris,FRA
4250,52cdef7f4bab8bd67529c6cc,enterprise,NaN,2008,Knowledge Genes,NaN,"[{'description': 'Research and Development', '...",$0,None,NaN,NaN,,GBR
4251,52cdef7f4bab8bd67529c6ce,tech,NaN,2008,Buddhacom,8.0,"[{'description': 'Toronto Office', 'address1':...",$0,"{'type': 'Point', 'coordinates': [-79.4008589,...",43.676252,-79.400859,Toronto,CAN
4252,52cdef7f4bab8bd67529c6d5,public_relations,NaN,2009,SEO Sumo,5.0,"[{'description': 'Main Office', 'address1': '6...",$0,"{'type': 'Point', 'coordinates': [-80.306331, ...",25.723408,-80.306331,Miami,USA
4253,52cdef7f4bab8bd67529c6d6,tech,NaN,2009,InstantQ,3.0,"[{'description': '', 'address1': '', 'address2...",$0,"{'type': 'Point', 'coordinates': [-122.036849,...",37.369195,-122.036849,Sunnyvale,USA
4254,52cdef7f4bab8bd67529c6d9,tech,NaN,2008,iGuiders,5.0,"[{'description': '', 'address1': '23811 Chagri...",$1.17M,None,NaN,NaN,Beachwood,USA
4255,52cdef7f4bab8bd67529c6d4,education,NaN,2011,Treehouse,55.0,"[{'description': '', 'address1': '', 'address2...",$19.4M,None,NaN,NaN,Orlando,USA
4256,52cdef7f4bab8bd67529c6dc,tech,NaN,2009,acrossair,6.0,"[{'description': '198 High Holborn', 'address1...",$0,"{'type': 'Point', 'coordinates': [-0.1165365, ...",51.517742,-0.116537,London,GBR
4257,52cdef7f4bab8bd67529c6e2,tech,NaN,2009,MyChances,2.0,"[{'description': 'Headquarters', 'address1': '...",$0,"{'type': 'Point', 'coordinates': [-119.8120795...",39.394564,-119.812079,Reno,USA
4258,52cdef7f4bab8bd67529c6e4,tech,NaN,2009,Getyoo,10.0,"[{'description': 'HQ', 'address1': 'Rue des Ta...",€1.13M,"{'type': 'Point', 'coordinates': [4.3464721, 5...",50.839970,4.346472,Brussels,BEL
4259,52cdef7f4bab8bd67529c6eb,tech,NaN,2012,DocASAP,7.0,"[{'description': '', 'address1': '115 5th Ave'...",$800k,None,NaN,NaN,New York,USA
4260,52cdef7f4bab8bd67529c6e6,music,2009.0,2009,OfficialVirtualDJ,102.0,"[{'description': 'Created in London', 'address...",€25M,None,NaN,NaN,London,GBR
4261,52cdef7f4bab8bd67529c6f5,tech,NaN,2009,Oriact,NaN,"[{'description': '', 'address1': 'LÃ¤rchenweg ...",$0,"{'type': 'Point', 'coordinates': [8.4371634, 4...",47.088219,8.437163,KÃ¼ssnacht,CHE
4262,52cdef7f4bab8bd67529c6f6,tech,NaN,2009,Adhunk,3.0,"[{'description': 'Indian Office', 'address1': ...",$0,None,NaN,NaN,Bikaner,IND

In [26]:
def dropcolumns(data, columns):
        data = data.drop(columns, axis=1)
        return data

In [27]:
data_companies = dropcolumns(data_companies, ['offices', '_id'])

In [28]:
data_companies.head()

,category_code,deadpooled_year,founded_year,name,number_of_employees,total_money_raised,geoDescription,latitude,longitude,city,country
0,news,NaN,2007,Scribd,50.0,$25.8M,"{'type': 'Point', 'coordinates': [-122.404052,...",37.789634,-122.404052,San Francisco,USA
1,social,NaN,2007,MeetMoi,15.0,$5.58M,"{'type': 'Point', 'coordinates': [-73.985506, ...",40.757929,-73.985506,New York City,USA
2,tech,2013.0,2007,Babelgum,NaN,$13.2M,"{'type': 'Point', 'coordinates': [-6.267494, 5...",53.344104,-6.267494,London,GBR
3,tech,2008.0,2007,Sparter,NaN,$0,"{'type': 'Point', 'coordinates': [-95.712891, ...",37.090240,-95.712891,None,USA
4,tech,NaN,2007,Mahalo,40.0,$21M,"{'type': 'Point', 'coordinates': [-118.487267,...",34.017606,-118.487267,Culver City,USA

In [29]:
#data_companies = data_companies[np.isnan(data_companies['deadpooled_year'])]

In [30]:
data_companies = data_companies[data_companies['deadpooled_year'].isna()]

In [31]:
display(data_companies)

,category_code,deadpooled_year,founded_year,name,number_of_employees,total_money_raised,geoDescription,latitude,longitude,city,country
0,news,NaN,2007,Scribd,50.0,$25.8M,"{'type': 'Point', 'coordinates': [-122.404052,...",37.789634,-122.404052,San Francisco,USA
1,social,NaN,2007,MeetMoi,15.0,$5.58M,"{'type': 'Point', 'coordinates': [-73.985506, ...",40.757929,-73.985506,New York City,USA
4,tech,NaN,2007,Mahalo,40.0,$21M,"{'type': 'Point', 'coordinates': [-118.487267,...",34.017606,-118.487267,Culver City,USA
5,tech,NaN,2008,OpenX,305.0,$75.5M,"{'type': 'Point', 'coordinates': [-118.1327468...",34.149471,-118.132747,Pasadena,USA
6,tech,NaN,2007,AdaptiveBlue,15.0,$24M,"{'type': 'Point', 'coordinates': [-74.3372, 40...",40.801358,-74.337200,NYC,USA
7,tech,NaN,2007,Livestream,120.0,$14.7M,"{'type': 'Point', 'coordinates': [-73.995625, ...",40.726155,-73.995625,New York,USA
8,tech,NaN,2007,Ustream,250.0,$60.1M,"{'type': 'Point', 'coordinates': [-122.07948, ...",37.392936,-122.079480,San Francisco,USA
9,tech,NaN,2007,Pownce,6.0,$0,"{'type': 'Point', 'coordinates': [-122.397224,...",37.762541,-122.397224,San Francisco,USA
10,tech,NaN,2007,ZenZui,NaN,$0,"{'type': 'Point', 'coordinates': [-122.347533,...",47.620716,-122.347533,Seattle,USA
11,tech,NaN,2007,SodaHead,25.0,$12.7M,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,Encino,USA
12,tech,NaN,2007,CriticalMetrics,4.0,$100k,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,None,USA
13,tech,NaN,2007,Funny Or Die,NaN,$18M,"{'type': 'Point', 'coordinates': [-122.137444,...",37.421621,-122.137444,San Mateo,USA
15,tech,NaN,2007,Wakoopa,8.0,$1M,"{'type': 'Point', 'coordinates': [4.8948623, 5...",52.374523,4.894862,Amsterdam,NLD
16,travel,NaN,2007,Yapta,NaN,$24.3M,"{'type': 'Point', 'coordinates': [-122.334264,...",47.599925,-122.334264,Seattle,USA
17,tech,NaN,2007,coRank,0.0,$0,"{'type': 'Point', 'coordinates': [-122.02421, ...",37.369650,-122.024210,Sunnyvale,USA
18,tech,NaN,2007,CrowdVine,10.0,$0,"{'type': 'Point', 'coordinates': [-122.511687,...",37.900770,-122.511687,Mill Valley,USA
19,tech,NaN,2007,TVtrip,NaN,$13.8M,"{'type': 'Point', 'coordinates': [2.350987, 48...",48.856667,2.350987,Paris,FRA
20,tech,NaN,2007,Seesmic,13.0,$16M,"{'type': 'Point', 'coordinates': [-122.419204,...",37.775196,-122.419204,San Francisco,USA
21,tech,NaN,2007,Cofoundr,0.0,$0,"{'type': 'Point', 'coordinates': [-122.420903,...",37.796164,-122.420903,None,USA
23,tech,NaN,2008,GoingOn,40.0,$8.5M,"{'type': 'Point', 'coordinates': [-122.392142,...",37.782263,-122.392142,San Francisco,USA
24,tech,NaN,2007,Kwiqq,10.0,$0,None,NaN,NaN,Brighton,GBR
25,tech,NaN,2007,FeVote,1.0,$0,"{'type': 'Point', 'coordinates': [-122.417928,...",37.779392,-122.417928,San Francisco,USA
26,tech,NaN,2007,Relationals,NaN,$0,"{'type': 'Point', 'coordinates': [-121.992132,...",37.384651,-121.992132,Sunnyvale,USA
27,tech,NaN,2007,Nononina,NaN,$0,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,,USA
28,tech,NaN,2007,DOmedia,NaN,$0,"{'type': 'Point', 'coordinates': [-83.005038, ...",39.967704,-83.005038,Columbus,USA
29,tech,NaN,2007,Forbes,NaN,$0,"{'type': 'Point', 'coordinates': [-73.993302, ...",40.736416,-73.993302,New York,USA
30,tech,NaN,2007,Buxfer,4.0,$315k,"{'type': 'Point', 'coordinates': [-122.073003,...",37.400465,-122.073003,Mountain View,USA
31,tech,NaN,2007,boo-box,50.0,$300k,"{'type': 'Point', 'coordinates': [-46.679287, ...",-23.558584,-46.679287,Sao Paulo,BRA
33,news,NaN,2007,Rocketboom,NaN,$1.5M,"{'type': 'Point', 'coordinates': [-73.97785, 4...",40.797364,-73.977850,New York,USA
34,tech,NaN,2007,madKast,NaN,$315k,"{'type': 'Point', 'coordinates': [-105.276843,...",40.010492,-105.276843,Boulder,USA
...,...,...,...,...,...,...,...,...,...,...,...
4231,tech,NaN,2008,Lift Media,NaN,$0,None,NaN,NaN,San Francisco,USA
4232,tech,NaN,2009,Flatterline,2.0,$0,None,NaN,NaN,Phoenix,USA
4233,tech,NaN,2008,Bump Technologies,NaN,$19.9M,None,NaN,NaN,Mountain View,USA
4234,security,NaN,2007,SERG,20.0,$0,None,NaN,NaN,Peshawar,PAK
4235,tech,NaN,2007,Meeho!,5.0,$0,"{'type': 'Point', 'coordinates': [12.3933043, ...",55.752525,12.393304,Herlev,DNK
4236,tech,NaN,2007,ActionBase,NaN,$400k,None,NaN,NaN,Tel Aviv,ISR
4237,tech,NaN,2007,ALOT,50.0,$0,"{'type': 'Point', 'coordinates': [-74.006023, ...",40.726160,-74.006023,New York,USA
4238,tech,NaN,2007,Business and Technology Strategies,5.0,$0,"{'type': 'Point', 'coordinates': [-81.383874, ...",28.792491,-81.383874,Sanford,USA
4239,tech,NaN,2008,Fictionaut,2.0,$0,"{'type': 'Point', 'coordinates': [-73.9161267,...",40.759795,-73.916127,Astoria,USA
4240,tech,NaN,2009,atlanticOptimize,1.0,$0,None,NaN,NaN,West Palm Beach,USA
4241,tech,NaN,2008,Conversition,10.0,$0,"{'type': 'Point', 'coordinates': [-73.986951, ...",40.756054,-73.986951,New York City,USA
4242,tech,NaN,2008,phinditt,10.0,$0,None,NaN,NaN,,USA
4243,tech,NaN,2008,Crowdeye,NaN,$0,None,NaN,NaN,Mercer Island,USA
4244,enterprise,NaN,2008,Jelli,12.0,$16.6M,"{'type': 'Point', 'coordinates': [-122.321836,...",37.559090,-122.321836,San Mateo,USA
4245,tech,NaN,2009,Tiny Speck,45.0,$17.2M,"{'type': 'Point', 'coordinates': [-123.109217,...",49.282455,-123.109217,Vancouver,CAN
4247,tech,NaN,2007,My TV Shows,2.0,$0,"{'type': 'Point', 'coordinates': [-9.1462209, ...",38.752367,-9.146221,Lisbon,PRT
4248,tech,NaN,2009,ConvoCreatr,2.0,$0,None,NaN,NaN,Toronto,CAN
4249,other,NaN,2008,Hellocoton,4.0,$0,"{'type': 'Point', 'coordinates': [2.3389864, 4...",48.831850,2.338986,Paris,FRA
4250,enterprise,NaN,2008,Knowledge Genes,NaN,$0,None,NaN,NaN,,GBR
4251,tech,NaN,2008,Buddhacom,8.0,$0,"{'type': 'Point', 'coordinates': [-79.4008589,...",43.676252,-79.400859,Toronto,CAN
4252,public_relations,NaN,2009,SEO Sumo,5.0,$0,"{'type': 'Point', 'coordinates': [-80.306331, ...",25.723408,-80.306331,Miami,USA
4253,tech,NaN,2009,InstantQ,3.0,$0,"{'type': 'Point', 'coordinates': [-122.036849,...",37.369195,-122.036849,Sunnyvale,USA
4254,tech,NaN,2008,iGuiders,5.0,$1.17M,None,NaN,NaN,Beachwood,USA
4255,education,NaN,2011,Treehouse,55.0,$19.4M,None,NaN,NaN,Orlando,USA
4256,tech,NaN,2009,acrossair,6.0,$0,"{'type': 'Point', 'coordinates': [-0.1165365, ...",51.517742,-0.116537,London,GBR
4257,tech,NaN,2009,MyChances,2.0,$0,"{'type': 'Point', 'coordinates': [-119.8120795...",39.394564,-119.812079,Reno,USA
4258,tech,NaN,2009,Getyoo,10.0,€1.13M,"{'type': 'Point', 'coordinates': [4.3464721, 5...",50.839970,4.346472,Brussels,BEL
4259,tech,NaN,2012,DocASAP,7.0,$800k,None,NaN,NaN,New York,USA
4261,tech,NaN,2009,Oriact,NaN,$0,"{'type': 'Point', 'coordinates': [8.4371634, 4...",47.088219,8.437163,KÃ¼ssnacht,CHE
4262,tech,NaN,2009,Adhunk,3.0,$0,None,NaN,NaN,Bikaner,IND

In [32]:
data_companies['city'].value_counts()

San Francisco                          277
New York                               221
                                       203
London                                 147
Seattle                                 69
Palo Alto                               51
Los Angeles                             50
Paris                                   45
Toronto                                 42
Chicago                                 39
Berlin                                  39
Austin                                  39
Cambridge                               37
San Jose                                33
Bangalore                               32
Mountain View                           30
Atlanta                                 28
San Diego                               28
Vancouver                               27
Boston                                  27
Amsterdam                               27
Santa Monica                            27
Barcelona                               24
Sunnyvale                               23
Madrid                                  21
San Mateo                               20
Menlo Park                              18
Singapore                               18
Portland                                18
Philadelphia                            17
                                      ...
Corrientes                               1
Ham                                      1
Doylestown                               1
Aiea                                     1
Bei Jing                                 1
Herzelia                                 1
Split                                    1
Hopkins                                  1
Charlottetown, Prince Edward Island      1
los angles                               1
Vancouver, British Columbia              1
Bretten                                  1
Stoke-on-Trent, Staffordshire            1
Landover                                 1
Heraklion                                1
Castleblayney                            1
Ghent                                    1
Annapolis                                1
San JOSE                                 1
Brookline                                1
Stockbridge                              1
American Fork                            1
Brandenton                               1
Sachse                                   1
Da Nang                                  1
Miami Gardens                            1
Pune, Maharashtra                        1
Funchal                                  1
Kamuela                                  1
Escazu                                   1
Name: city, Length: 1136, dtype: int64

In [33]:
def cleanLocation(location):
    location = str(location)
    if (re.search('[Ll]os [Aa]ngeles', location)):
        return 'Los Angeles'
    elif (re.search('IRVINGTON', location)):
          return 'Irvington'
    else:
        return location

In [34]:
data_companies['city'] = data_companies['city'].apply(cleanLocation)

In [35]:
data_companies.head()

,category_code,deadpooled_year,founded_year,name,number_of_employees,total_money_raised,geoDescription,latitude,longitude,city,country
0,news,NaN,2007,Scribd,50.0,$25.8M,"{'type': 'Point', 'coordinates': [-122.404052,...",37.789634,-122.404052,San Francisco,USA
1,social,NaN,2007,MeetMoi,15.0,$5.58M,"{'type': 'Point', 'coordinates': [-73.985506, ...",40.757929,-73.985506,New York City,USA
4,tech,NaN,2007,Mahalo,40.0,$21M,"{'type': 'Point', 'coordinates': [-118.487267,...",34.017606,-118.487267,Culver City,USA
5,tech,NaN,2008,OpenX,305.0,$75.5M,"{'type': 'Point', 'coordinates': [-118.1327468...",34.149471,-118.132747,Pasadena,USA
6,tech,NaN,2007,AdaptiveBlue,15.0,$24M,"{'type': 'Point', 'coordinates': [-74.3372, 40...",40.801358,-74.337200,NYC,USA

In [36]:
data_companies.dropna(subset=['founded_year', 'latitude', 'longitude'], inplace=True)
data_companies.head()
#df.dropna(axis=1, subset=[1]

,category_code,deadpooled_year,founded_year,name,number_of_employees,total_money_raised,geoDescription,latitude,longitude,city,country
0,news,NaN,2007,Scribd,50.0,$25.8M,"{'type': 'Point', 'coordinates': [-122.404052,...",37.789634,-122.404052,San Francisco,USA
1,social,NaN,2007,MeetMoi,15.0,$5.58M,"{'type': 'Point', 'coordinates': [-73.985506, ...",40.757929,-73.985506,New York City,USA
4,tech,NaN,2007,Mahalo,40.0,$21M,"{'type': 'Point', 'coordinates': [-118.487267,...",34.017606,-118.487267,Culver City,USA
5,tech,NaN,2008,OpenX,305.0,$75.5M,"{'type': 'Point', 'coordinates': [-118.1327468...",34.149471,-118.132747,Pasadena,USA
6,tech,NaN,2007,AdaptiveBlue,15.0,$24M,"{'type': 'Point', 'coordinates': [-74.3372, 40...",40.801358,-74.337200,NYC,USA

In [37]:
data_companies = dropcolumns(data_companies, 'deadpooled_year')

In [38]:
#Ya tengo las categorias, los deadpooled Nan, los founded year como int, y la latitude y longitud bien

In [39]:
res = requests.get("https://api.exchangeratesapi.io/latest?base=USD")
res.json()

{'rates': {'CAD': 1.3124497992,
  'HKD': 7.8097278001,
  'ISK': 126.639892905,
  'PHP': 51.3422579206,
  'DKK': 6.6607764391,
  'HUF': 290.4596162427,
  'CZK': 22.7960731816,
  'GBP': 0.8029897367,
  'RON': 4.218206158,
  'SEK': 9.490227577,
  'IDR': 14130.0044622936,
  'INR': 68.5238732709,
  'BRL': 3.8063364569,
  'RUB': 63.7221775993,
  'HRK': 6.6000892459,
  'JPY': 108.817492191,
  'THB': 30.8353413655,
  'CHF': 0.9939312807,
  'EUR': 0.8924587238,
  'MYR': 4.1419009371,
  'BGN': 1.745470772,
  'TRY': 5.6977242303,
  'CNY': 6.8857652834,
  'NOK': 8.6553324409,
  'NZD': 1.5115573405,
  'ZAR': 14.1643908969,
  'USD': 1.0,
  'MXN': 18.9046854083,
  'SGD': 1.3609995538,
  'AUD': 1.4425702811,
  'ILS': 3.5675145025,
  'KRW': 1182.55243195,
  'PLN': 3.8045515395},
 'base': 'USD',
 'date': '2019-07-09'}

In [40]:
def moneyRaise(value):
    dicc_coin = {'CAD': 1.3124497992,'RUB': 63.7561301828, 'EUR': 0.8916629514, 'GBP': 0.7991529202}
    values_money = {'K':1000, 'M':1000000, 'B': 100000000000}
    value_number = float(re.search('[+-]?([0-9]*[.])?[0-9]+', value)[0])
    if value.endswith('B'):
        exchange = value_number*(values_money['B'])
    elif value.endswith('K[k]'):
        exchange = value_number*(values_money['K'])
    elif value.endswith('M'):
        exchange = value_number*(values_money['M'])
    elif value.startswith("C"):
        exchange =  value_number*(dicc_coin['CAD'])
    elif value.startswith("$"):
        exchange =  value_number
    elif value.startswith("€"):
        exchange = value_number*(dicc_coin['EUR'])
    elif value.startswith("£"):
        exchange = value_number*(dicc_coin['GBP'])
    elif value.startswith("r"):
        exchange = value_number*(dicc_coin['RUB'])
    else:
        exchange = value_number
    return int(exchange)

In [41]:
data_companies['total_money_raised'] = data_companies['total_money_raised'].apply(moneyRaise)

In [42]:
data_companies.reset_index(drop=True)
data_companies.head()

,category_code,founded_year,name,number_of_employees,total_money_raised,geoDescription,latitude,longitude,city,country
0,news,2007,Scribd,50.0,25800000,"{'type': 'Point', 'coordinates': [-122.404052,...",37.789634,-122.404052,San Francisco,USA
1,social,2007,MeetMoi,15.0,5580000,"{'type': 'Point', 'coordinates': [-73.985506, ...",40.757929,-73.985506,New York City,USA
4,tech,2007,Mahalo,40.0,21000000,"{'type': 'Point', 'coordinates': [-118.487267,...",34.017606,-118.487267,Culver City,USA
5,tech,2008,OpenX,305.0,75500000,"{'type': 'Point', 'coordinates': [-118.1327468...",34.149471,-118.132747,Pasadena,USA
6,tech,2007,AdaptiveBlue,15.0,24000000,"{'type': 'Point', 'coordinates': [-74.3372, 40...",40.801358,-74.337200,NYC,USA

In [43]:
def fillNaN(data, col):
    [data[col].fillna(0, inplace=True) for col in data.columns]
    return data

In [44]:
fillNaN(data_companies, 'number_of_employees')

,category_code,founded_year,name,number_of_employees,total_money_raised,geoDescription,latitude,longitude,city,country
0,news,2007,Scribd,50.0,25800000,"{'type': 'Point', 'coordinates': [-122.404052,...",37.789634,-122.404052,San Francisco,USA
1,social,2007,MeetMoi,15.0,5580000,"{'type': 'Point', 'coordinates': [-73.985506, ...",40.757929,-73.985506,New York City,USA
4,tech,2007,Mahalo,40.0,21000000,"{'type': 'Point', 'coordinates': [-118.487267,...",34.017606,-118.487267,Culver City,USA
5,tech,2008,OpenX,305.0,75500000,"{'type': 'Point', 'coordinates': [-118.1327468...",34.149471,-118.132747,Pasadena,USA
6,tech,2007,AdaptiveBlue,15.0,24000000,"{'type': 'Point', 'coordinates': [-74.3372, 40...",40.801358,-74.337200,NYC,USA
7,tech,2007,Livestream,120.0,14700000,"{'type': 'Point', 'coordinates': [-73.995625, ...",40.726155,-73.995625,New York,USA
8,tech,2007,Ustream,250.0,60100000,"{'type': 'Point', 'coordinates': [-122.07948, ...",37.392936,-122.079480,San Francisco,USA
9,tech,2007,Pownce,6.0,0,"{'type': 'Point', 'coordinates': [-122.397224,...",37.762541,-122.397224,San Francisco,USA
10,tech,2007,ZenZui,0.0,0,"{'type': 'Point', 'coordinates': [-122.347533,...",47.620716,-122.347533,Seattle,USA
11,tech,2007,SodaHead,25.0,12700000,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,Encino,USA
12,tech,2007,CriticalMetrics,4.0,100,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,None,USA
13,tech,2007,Funny Or Die,0.0,18000000,"{'type': 'Point', 'coordinates': [-122.137444,...",37.421621,-122.137444,San Mateo,USA
15,tech,2007,Wakoopa,8.0,1000000,"{'type': 'Point', 'coordinates': [4.8948623, 5...",52.374523,4.894862,Amsterdam,NLD
16,travel,2007,Yapta,0.0,24300000,"{'type': 'Point', 'coordinates': [-122.334264,...",47.599925,-122.334264,Seattle,USA
17,tech,2007,coRank,0.0,0,"{'type': 'Point', 'coordinates': [-122.02421, ...",37.369650,-122.024210,Sunnyvale,USA
18,tech,2007,CrowdVine,10.0,0,"{'type': 'Point', 'coordinates': [-122.511687,...",37.900770,-122.511687,Mill Valley,USA
19,tech,2007,TVtrip,0.0,13800000,"{'type': 'Point', 'coordinates': [2.350987, 48...",48.856667,2.350987,Paris,FRA
20,tech,2007,Seesmic,13.0,16000000,"{'type': 'Point', 'coordinates': [-122.419204,...",37.775196,-122.419204,San Francisco,USA
21,tech,2007,Cofoundr,0.0,0,"{'type': 'Point', 'coordinates': [-122.420903,...",37.796164,-122.420903,None,USA
23,tech,2008,GoingOn,40.0,8500000,"{'type': 'Point', 'coordinates': [-122.392142,...",37.782263,-122.392142,San Francisco,USA
25,tech,2007,FeVote,1.0,0,"{'type': 'Point', 'coordinates': [-122.417928,...",37.779392,-122.417928,San Francisco,USA
26,tech,2007,Relationals,0.0,0,"{'type': 'Point', 'coordinates': [-121.992132,...",37.384651,-121.992132,Sunnyvale,USA
27,tech,2007,Nononina,0.0,0,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,,USA
28,tech,2007,DOmedia,0.0,0,"{'type': 'Point', 'coordinates': [-83.005038, ...",39.967704,-83.005038,Columbus,USA
29,tech,2007,Forbes,0.0,0,"{'type': 'Point', 'coordinates': [-73.993302, ...",40.736416,-73.993302,New York,USA
30,tech,2007,Buxfer,4.0,315,"{'type': 'Point', 'coordinates': [-122.073003,...",37.400465,-122.073003,Mountain View,USA
31,tech,2007,boo-box,50.0,300,"{'type': 'Point', 'coordinates': [-46.679287, ...",-23.558584,-46.679287,Sao Paulo,BRA
33,news,2007,Rocketboom,0.0,1500000,"{'type': 'Point', 'coordinates': [-73.97785, 4...",40.797364,-73.977850,New York,USA
34,tech,2007,madKast,0.0,315,"{'type': 'Point', 'coordinates': [-105.276843,...",40.010492,-105.276843,Boulder,USA
35,enterprise,2007,Scrybe,20.0,1310000,"{'type': 'Point', 'coordinates': [-74.761403, ...",40.270666,-74.761403,San Francisco,USA
...,...,...,...,...,...,...,...,...,...,...
4205,tech,2009,Tiverias Apps,20.0,0,"{'type': 'Point', 'coordinates': [-71.0814466,...",42.367287,-71.081447,Cambridge,USA
4207,tech,2007,TxTedge,10.0,0,"{'type': 'Point', 'coordinates': [-73.0464309,...",40.908601,-73.046431,Port Jefferson Station,USA
4208,other,2009,Collective Core,1.0,0,"{'type': 'Point', 'coordinates': [-84.5144, 33...",33.883700,-84.514400,Smyrna,USA
4209,other,2009,Glacir,5.0,0,"{'type': 'Point', 'coordinates': [-83.01143, 3...",39.977726,-83.011430,Columbus,USA
4210,tech,2009,HOTForms123,2.0,0,"{'type': 'Point', 'coordinates': [-118.405325,...",34.069891,-118.405325,Beverly Hills,USA
4219,tech,2008,Continuity Engine,11.0,7840000,"{'type': 'Point', 'coordinates': [-73.2435522,...",41.327918,-73.243552,New Haven,USA
4220,tech,2008,MechaWorks,0.0,0,"{'type': 'Point', 'coordinates': [-122.009405,...",37.383444,-122.009405,Sunnyvale,USA
4221,social,2008,FundRazr,6.0,426,"{'type': 'Point', 'coordinates': [-123.1092622...",49.284394,-123.109262,Vancouver,CAN
4222,tech,2008,Pipit Interactive,10.0,900,"{'type': 'Point', 'coordinates': [-118.47036, ...",34.045499,-118.470360,Los Angeles,USA
4224,tech,2009,Bookwhen,2.0,0,"{'type': 'Point', 'coordinates': [-1.2581049, ...",51.771426,-1.258105,Oxford,GBR
4225,tech,2009,pTracker,2.0,0,"{'type': 'Point', 'coordinates': [-97.745209, ...",30.268735,-97.745209,Austin,USA
4226,tech,2007,DJ Nitrogen,8.0,0,"{'type': 'Point', 'coordinates': [-122.4494082...",37.784174,-122.449408,San Francisco,USA
4228,tech,2008,Superkix,5.0,0,"{'type': 'Point', 'coordinates': [-80.1277653,...",25.960908,-80.127765,Aventura,USA
4229,tech,2007,Semanti,7.0,0,"{'type': 'Point', 'coordinates': [-113.478872,...",53.483151,-113.478872,Edmonton,CAN
4235,tech,2007,Meeho!,5.0,0,"{'type': 'Point', 'coordinates': [12.3933043, ...",55.752525,12.393304,Herlev,DNK
4237,tech,2007,ALOT,50.0,0,"{'type': 'Point', 'coordinates': [-74.006023, ...",40.726160,-74.006023,New York,USA
4238,tech,2007,Business and Technology Strategies,5.0,0,"{'type': 'Point', 'coordinates': [-81.383874, ...",28.792491,-81.383874,Sanford,USA
4239,tech,2008,Fictionaut,2.0,0,"{'type': 'Point', 'coordinates': [-73.9161267,...",40.759795,-73.916127,Astoria,USA
4241,tech,2008,Conversition,10.0,0,"{'type': 'Point', 'coordinates': [-73.986951, ...",40.756054,-73.986951,New York City,USA
4244,enterprise,2008,Jelli,12.0,16600000,"{'type': 'Point', 'coordinates': [-122.321836,...",37.559090,-122.321836,San Mateo,USA
4245,tech,2009,Tiny Speck,45.0,17200000,"{'type': 'Point', 'coordinates': [-123.109217,...",49.282455,-123.109217,Vancouver,CAN
4247,tech,2007,My TV Shows,2.0,0,"{'type': 'Point', 'coordinates': [-9.1462209, ...",38.752367,-9.146221,Lisbon,PRT
4249,other,2008,Hellocoton,4.0,0,"{'type': 'Point', 'coordinates': [2.3389864, 4...",48.831850,2.338986,Paris,FRA
4251,tech,2008,Buddhacom,8.0,0,"{'type': 'Point', 'coordinates': [-79.4008589,...",43.676252,-79.400859,Toronto,CAN
4252,public_relations,2009,SEO Sumo,5.0,0,"{'type': 'Point', 'coordinates': [-80.306331, ...",25.723408,-80.306331,Miami,USA
4253,tech,2009,InstantQ,3.0,0,"{'type': 'Point', 'coordinates': [-122.036849,...",37.369195,-122.036849,Sunnyvale,USA
4256,tech,2009,acrossair,6.0,0,"{'type': 'Point', 'coordinates': [-0.1165365, ...",51.517742,-0.116537,London,GBR
4257,tech,2009,MyChances,2.0,0,"{'type': 'Point', 'coordinates': [-119.8120795...",39.394564,-119.812079,Reno,USA
4258,tech,2009,Getyoo,10.0,1130000,"{'type': 'Point', 'coordinates': [4.3464721, 5...",50.839970,4.346472,Brussels,BEL
4261,tech,2009,Oriact,0.0,0,"{'type': 'Point', 'coordinates': [8.4371634, 4...",47.088219,8.437163,KÃ¼ssnacht,CHE

In [47]:
data_companies.to_json('./data_companies_clean.json', orient='records')

In [46]:
data_companies.to_csv('./data_companies_clean.csv')